body {
  background-color: #fa7268;
}
@media screen and (max-width: 991px) {
  body {
    background-color: sienna;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-color: red;
  }
}